{% extends 'shared/base.html' %}


{% block meta %}
    <title>Brand</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h1 class="text-center">Brand</h1>
    <div class="my-5">
        <form action="" method="POST">
         
            <div class="d-grid">
              <label for="name"> {{form.name.label }}</label>
               {{form.name }}
               {% if form.name.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for e in form.name.errors %}
                            {{e}} <br>
                        {% endfor %}
                    </div>
              {% endif %}
            </div>
          
            <div class="d-grid">
                    <label for="slug"> {{form.slug.label}}</label>
                    {{form.slug}}  
                    {% if form.slug.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for e in form.slug.errors %}
                            {{e}} <br>
                        {% endfor %}
                    </div>
                {% endif %}    
            </div>
          
            <div class="d-grid">
                <label for="description"> {{form.description.label}}</label>
                {{form.description}}
                {% if form.description.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for e in form.description.errors %}
                            {{e}} <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
 
            <div class="d-grid">
                <label for="description"> {{form.website.label}}</label>
                {{form.website}}
                {% if form.website.errors %}
                    <div class="alert alert-danger mt-2">
                        {% for e in form.website.errors %}
                            {{e}} <br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="d-grid mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">save</button>
            </div>
       </form>
    </div>
</div>
<!--<script>

    Document.querySelectorAll('input').forEach((e)=>{
        e.classList.add('form-control');
    });

</script>-->
{% endblock content %}

