{% extends 'shared/base.html' %}

{% block meta %}
    <title>list</title>
{% endblock meta %}

{% block content %}
    <div class="container">
        <h1 class="text-center">product</h1>
        <div class="d-flex">
        <a href="{% url 'product_create' %}" class=" ms-auto btn btn-primary">+ Newproduct</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in object_list %}
                <tr>
                    <td>
                        <img src="{{ i.image.url }}" alt="" height="30" width="30">
                    </td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.slug }}</td>
                    <td>{{ i.category.name}}</td>
                    <td>{{ i.brand.name }}</td>
                    <td>
                        <a href="{% url 'product_update' id=i.id %} " class="text-decoration-none"  >Edit</a> |
                        <a href="{% url 'product_delete' id=i.id %}" 
                        class="text-danger text-decoration-none"
                        onclick="return confirm(' Are you sure you want to delete this product ');" 
                        >Delete</a>
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
{% endblock content %}

